<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= @title || "Default Page" %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/fontawesome-free/css/all.css" />
    <link rel="stylesheet" href="/css/style.css">
  </head>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-danger">
      <div class="container">
        <a class="navbar-brand text-white" href="/user_page">Mobilio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="#navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Category </a>
              <ul class="dropdown-menu">
                <% if @cars && @cars.any? %>
                  <% @cars.each do |car| %>
                    <li>
                      <a class="dropdown-item" href="#">
                        <%= car['brand'] %>
                      </a>
                    </li>
                  <% end %>
                <% else %>
                  <li>
                    <a class="dropdown-item disabled" href="#">No Cars Available</a>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
          <form class="container">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" />
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
          </form>

          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <div class="nav-item">
              <a class="nav-link text-white" href="/orders">
                <i class="fa-regular fa-bell"></i>
              </a>
            </div>
            <li class="nav-item">
              <a class="nav-link text-white" href="/waiting">
                <i class="fa-regular fa-heart"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/rejected">
                <i class="fa-regular fa-message"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <button class="nav-link text-white dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-user"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/user_profile">
                  <i class="fa-regular fa-user"></i> My Profile
                </a></li>
                <li>
                  <a class="dropdown-item" href="#"><i class="fa-solid fa-rectangle-list"></i> Checklist</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Exit</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure want to log out ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/logout" class="btn btn-primary">Logout</a>
          </div>
        </div>
      </div>
    </div>


    <%= yield %>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    


  </body>
</html>
